@using Bludata.Library.Resource

<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width" />
    <title>@Resource.lbl_Erro</title>
</head>
<body>
    <hgroup>
        <h1>@Resource.lbl_Erro</h1>
        <h2>@Resource.Msg_HouveUmProblemaAoProcessarSuaSolicitacao</h2>
    </hgroup>
</body>
</html>
